{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "no-var": 0,
    "vars-on-top": 0,
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "camelcase": [0],
    "func-names": 0,
    "new-cap": 0,
    "default-case": 0,
    "spaced-comment": 0,
    "no-else-return": 0,
    "no-new": 0,
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}]
  },
  "plugins": [
    "react"
  ]
}
